::-webkit-scrollbar, html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #4D4D4D;
  }
  ::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: rgb(121 153 151 / 80%);
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track, html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background-color: #4d4d4d;
  }html{
    scroll-behavior: smooth;
    
}
body{
  font-family: 'Bree Serif', serif;
}

header {
    background: url(../img/css\ -\ Modifié.png) !important;
    background-size:cover !important;
    background-position: center!important;
    min-height: 600px!important;

}

@media screen and (max-width: 670px){
    header{
      min-height: 500px !important;
    }
  }
  .section{
    padding-top: 60px !important;
    padding-bottom: 70px !important;
  }
  .tabs .indicator{
    background-color: #333333 !important;
  }
  .tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent !important;
  }

  .card{
    border-radius: 20px!important ;
  }

  .card img{
    border-radius: 20px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
  }

.btn{
  border-radius: 25px;
}

.project_1{
  background: url(../img/presentation_projet1\ -\ Modifié\ -\ Modifié.png) no-repeat;
  background-size: cover;
}

.txtpurple{
  color: #dfc0e9 !important;
}


.project_3{
  background: url(../img/Capture\ -\ Modifié.png) no-repeat;
  background-size: cover;
}

.project_4{
  background: url(../img/amongus\ -\ Modifié\ -\ Modifié.png) no-repeat;
  background-size: cover;
}